.hero-card-container {
  cursor: pointer;
  max-width: 180;
  max-height: 245;
  background-color: black;
  margin: 4;
  clip-path: "polygon(0 0,100% 0,100% 0,100% 92%,88% 100%,0 100%,0 100%,0 0)";
}

.hero-card-img {
    width: 180;
    overflow: hidden;
    height: 180;
    transition: "opacity 0.5s ease-in-out";
}

.nameWrapper {
    position:relative;
    height: 58;
    display: flex;
    align-items: center;
}

.nameWrapperInner {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 18;
    padding-right: 18;
    color: white;
    text-transform: uppercase;
    max-width: 124;
}


.nameWrapperInner span {
    font-size: 12;
    text-align: start;
}