.name-wrapper {
  &::after {
    background-color: #e62429;
    content: "";
    height: 3%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out;
    width: 100%;
    z-index: -1;
  }
}

.hero-card-container {
  cursor: pointer;
  max-width: 180px;
  max-height: 245px;
  background-color: black;
  margin: 4px;
  clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 92%, 88% 100%, 0px 100%, 0px 100%, 0px 0px);
  &:hover {
    .name-wrapper::after {
      height: calc(100% + 4px);
    }
    .fav-img-set > path {
      fill: white !important;
      stroke: white !important;
    }
  }
}

.hero-card-img {
  width: 180px;
  overflow: hidden;
  height: 180px;
  transition: opacity 0.5s ease-in-out;
}

.name-wrapper {
  position: relative;
  height: 58px;
  display: flex;
  align-items: center;
}

.name-wrapper-inner {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  text-transform: uppercase;
  max-width: 124px;
}

.name-wrapper-inner span {
  font-size: 12px;
  text-align: start;
}
