.hero-card-container {
  cursor: pointer;
  max-width: 180px;
  max-height: 245px;
  background-color: black;
  margin: 4px;
  clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 92%, 88% 100%, 0px 100%, 0px 100%, 0px 0px);
}

.hero-card-img {
  width: 180px;
  overflow: hidden;
  height: 180px;
  transition: opacity 0.5s ease-in-out;
}

.nameWrapper {
  position: relative;
  height: 58px;
  display: flex;
  align-items: center;
}

.nameWrapperInner {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  text-transform: uppercase;
  max-width: 124px;
}

.nameWrapperInner span {
  font-size: 12px;
  text-align: start;
}
