@import "../styles/variables.scss";

.heroe-desc-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 500;
  align-items: center;
}

.heroe-desc-wrapper {
  background-color: black;
  clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 92%, 98% 100%, 0px 100%, 0px 100%, 0px 0px);
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;

  @include mq($xxs) {
    clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 96%, 94% 100%, 0px 100%, 0px 100%, 0px 0px);
  }

  @include mq($xs) {
    clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 92%, 96% 100%, 0px 100%, 0px 100%, 0px 0px);

  }
  @include mq($md) {
    clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 92%, 96% 100%, 0px 100%, 0px 100%, 0px 0px);
  }
  @include mq($lg) {
    clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 100% 92%, 98% 100%, 0px 100%, 0px 100%, 0px 0px);
  }
}

.heroe-desc-wrapper > div {
  display: flex;
  width: 60%;
}

.heroe-desc-wrapper > div {
  display: flex;
  width: 60%;

  @include mq($xxs) {
    flex-direction: column;
    width: 100%;
  }

  @include mq($xs) {
    flex-direction: row;
    width: 60%;
  }

  @include mq($md) {
    flex-direction: row;
    width: 60%;
  }
}

.heroe-desc-wrapper > div > img {
  @include mq($xxs) {
    width: 100%;
    height: auto;
  }

  @include mq($xs) {
    width: 320px;
    height: 320px;
  }

}

.hero-desc-name {
  font-size: 40px;
  text-transform: uppercase;
  @include mq($xxs) {
    font-size: 32px;
  }
}

.heroe-desc-header {
  display: flex;
  width: 60%;

  @include mq($xxs) {
    width: 100%;
    padding-left: 32px;
  }

  @include mq($xs) {
    width: 80%;
  }
  @include mq($md) {
    width: 80%;
  }
  @include mq($lg) {
    width: 60%;
  }
}

.heroe-desc-header h2 {
  text-align: left;
}

.hero-desc-comics-wrapper {
  display: flex;
  overflow-x: auto;
  width: 60%;
  scroll-behavior: smooth;

  @include mq($xxs) {
    width: 100%;
    padding-left: 32px;
  }

  @include mq($xs) {
    width: 80%;
  }
  @include mq($md) {
    width: 80%;
  }
  @include mq($lg) {
    width: 60%;
  }
}

.hero-desc-comics-wrapper > div {
  margin-right: 18px;
  text-align: start;
  color: black;
}

.hero-desc-comics-wrapper > div > img {
  width: 180px;
  height: 270px;
}

.heroe-desc-name-header {
  text-align: start;
  margin-left: 52px;

  @include mq($xxs) {
    margin: 0px 28px;
    margin-bottom: 28px;
  }
}

.heroe-desc-name-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
