.fav-button-wrapper {
  position: absolute;
  right: 18px;
}

.fav-img {
  width: 18px;
  height: 18px;
  transition: opacity 0.3s ease-in-out;
}

.fav-img-set > path {
  fill: red;
}

.fav-img-unset > path {
  fill: white;
}
