.search-container {
  position: relative;
  margin: 20px 60px;
  width: auto;
}

.search-input > div > input {
  background-color: white;
  width: calc(100% - 50px);
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
  color: black;
}
.search-container > div > img {
  position: absolute;
  left: 10px;
  top: 24%;
  transform: translateY(-50%);
  color: black;
  z-index: 1;
}

.search-container > p {
  text-align: start;
  margin-left: 8px;
}

