.search-container {
  position: relative;
  width: calc(100% - 40px);
  margin: 20px 20px;
  padding: 12px 0px;
}

.search-input > input {
  background-color: white;
  width: calc(100% - 50px);
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
  color: black;
}

.search-container > img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  z-index: 1;
}
