$xxs: 576px;
$xs: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

@mixin mq($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

.App {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 5px;
  position: relative;
  @include mq($xs) {
    max-width: 516px;
  }

  @include mq($md) {
    max-width: 790px;
  }

  @include mq($lg) {
    max-width: 1040px;
  }

  @include mq($xl) {
    max-width: 3000px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
